::selection {
    background-color:#C00;
    color:#fff;
}
::-moz-selection {
    background-color:#C00;
    color:#fff;
}

p {
	text-align: justify;}

body {
	background-color: #faf2e4;
	margin: 0 15%;
	font-family: sans-serif;
	padding-left: 3em;}

ul.navbar {
	list-style-type: none;
    padding: 0;
    margin: 0;
	position: absolute;
	top: 2em;
	left: 1em;
	width: 9em }

h1 {
	text-align: center;
	font-family: serif;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 30px;}

h2 {
	color: #d1633c;
	font-size: 1.2em;}

h3 {
	color: #d1633c;
	font-size: 1em;}

ul.navbar li {
    background: #C27B00;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid #FAD189 }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: white }
  a:visited {
    color: #FAD189 }