::selection {
    background-color:#C00;
    color:#fff;
}
::-moz-selection {
    background-color:#C00;
    color:#fff;
}

p {
	text-align: justify;}

body {
	background-color: #faf2e4;
	margin: 0 15%;
	font-family: sans-serif;
	padding-left: 3em;}

ul.navbar {
	list-style-type: none;
    padding: 0;
    margin: 0;
	position: absolute;
	top: 2em;
	left: 1em;
	width: 9em }

h1 {
	text-align: center;
	font-family: serif;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 30px;}

h2 {
	color: #d1633c;
	font-size: 1.2em;}

h3 {
	color: #d1633c;
	font-size: 1em;}
ul.menu {
   clear: both;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.menu li {
   float: left;
}
ul.menu li a {
  padding: .3em;
  display: block;
  text-decoration: none;
  color: #333;
  background: #F4F4F4;
  border-top: 1px solid #7C7C7C;
  border-right: 1px solid #7C7C7C;
  border-bottom: 1px solid #9C9C9C;
}

ul.navbar li {
    background: #C27B00;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid #FAD189 }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: black}
  a:visited {
    color: #FAD189 }