::selection {
    background-color:#C00;
    color:#fff;
}
::-moz-selection {
    background-color:#C00;
    color:#fff;
}

@font-face{ 
  font-family: SF_Shai_Fontai-webfont;
  src: url('SF_Shai_Fontai-webfont.woff');
}
@font-face{ 
  font-family: Simpel-Medium;
  src: url('Simpel-Medium.otf');
}
@font-face{ 
  font-family: TarponMotel;
  src: url('TarponMotel.otf');
}
@font-face{ 
  font-family: Poppins-Regular;
  src: url('Poppins-Regular.otf');
}


p {
  font-family: Poppins-Regular;
  font-size: 1.3em;
	text-align: justify;}

table{
  font-family:Poppins-Regular;
  font-size: 1.3em;
  text-align: center;
  table-layout: auto;
  border-spacing: 1em;

}

body {
	background-color: #FFF7F7;
	margin: 0 15%;
	font-family: sans-serif;
	padding-left: 3em;}

h1 {
  font-family: Simpel-Medium, Arial, sans-serif;
  font-size: 3em;
	margin-top: 30px;}

h2 {
  text-align: center;
  font-family: TarponMotel, Arial, sans-serif;
	color: #d1633c;
	font-size: 2em;}

h3 {
	color: #d1633c;
	font-size: 1em;}

ul.menu {
   clear: both;
  float: left;
  width: 10%;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.menu li {
   float: left;
}
ul.menu li a {
  padding: 1em;
  display: block;
  text-decoration: none;
  color: white;
  background: #890800;
}

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0em;
  left: 0em;
  width: 0em;
}

ul.navbar li {
  font-family: Simpel-Medium;
  font-size: 1.1em;
  background: #700404;
  margin: 15px;
  padding: 30px;
  border-right: 1em solid #FF0F00;
}

  ul.navbar a {
    text-decoration: none;
  }
  a:link {
    text-decoration-style: none;
    color: #B20B0B;
  }
  a:visited {
    text-decoration-style: none;
    color: #B20B0B;
  }
  ul.navbar li:hover{
    color: black;
  }
ul {
  font-family: Simpel-Medium;
}
ol {
  font-family: Simpel-Medium; 
}
#menu div.barraMenu,
#menu div.barraMenu a.botonMenu {
font-family: Simpel-Medium, Arial, sans-serif;
font-size: 17pt;
color: white;
}

#menu div.barraMenu {
text-align: center;
}

#menu div.barraMenu a.botonMenu {
background-color: #FF0F00;
color: white;
cursor: pointer;
padding: 10px 10px 10px 5px;
text-decoration: none;
}

#menu div.barraMenu a.botonMenu:hover {
background-color: #890800;
}

#menu div.barraMenu a.botonMenu:active {

background-color: #637D4D;
color: black;
} 

.three-columns {
    
    -webkit-column-count: 3 ; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;

    -webkit-column-rule: 5px solid rgb(248, 109, 109); /* Chrome, Safari, Opera */
    -moz-column-rule: 5px solid rgb(248, 109, 109)  ; /* Firefox */
    column-rule: 5px solid rgb(248, 109, 109)  ;
}
p {
    font-size: 15px;
    font-size: 1.5rem;    
    line-height: 1.333333334;
    margin-bottom: 20px;
    margin-bottom: 4rem;
    text-align: justify;
} 
.two-columns {
    
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;

    -webkit-column-rule: 5px solid rgb(248, 109, 109); /* Chrome, Safari, Opera */
    -moz-column-rule: 5px solid rgb(248, 109, 109); /* Firefox */
    column-rule: 5px solid rgb(248, 109, 109);
}
p {
    font-size: 15px;
    font-size: 1.5rem;    
    line-height: 1.333333334;
    margin-bottom: 20px;
    margin-bottom: 2rem;
    text-align: justify;
} 
.four-columns {
    
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;

    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;

    -webkit-column-rule: 5px solid rgb(248, 109, 109); /* Chrome, Safari, Opera */
    -moz-column-rule: 5px solid rgb(248, 109, 109); /* Firefox */
    column-rule: 5px solid rgb(248, 109, 109);
}
p {
    font-size: 15px;
    font-size: 1.5rem;    
    line-height: 1.333333334;
    margin-bottom: 20px;
    margin-bottom: 2rem;
    text-align: justify;
} 
a{text-decoration-style: none;}
#geisha div   {background-image: url(../images/geisha_blue.jpg)}
#carta div   {background-image: url(../images/peleador-top.jpg)}
#recetario div   {background-image: url(../carta/images/background-carta.jpg)}
#contacto div   {background-image: url(../images/contact-us-background-2.jpg)}
